.x-btn-icon .x-btn-logoklein .x-btn-text{
    height: 16px;
    width: 96px;
}
.icon-logo-klein {
	/* logo_zaanatlas_klein.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF0AAAAQCAYAAAB0t3NxAAAB60lEQVRYw+2YwXHDIBBFfcuZFmjBLXBJAW5BV+dGC7TATNyAWiAl0IJaoAWCPItnvbMIsCaODhz+WNgfbL39XhidYoynofdqQED6+fiMIP1v0L+uV5cUK9IHgrYAtKXiUyA5oO8DPiFoq6beRB8F+jlJEWkEPKyeg6U81tJ+aOhMESSAztCf0nS7fU9JLikkxSSfpF/wRJBJssg7J4lKymd0fSE+RwqT5UrQYe11XoDPPFOsC1n77kkSu6AnwCLJbwA/A5yAYGV4utVDoHOyW7187dMUJvIZAmeBseGgp9czwA4w1xY8eD0P13ZX0mvACXiBxianudOTAS9JcvXD9fpeYFJGQeC0qz3tBaAKUrh7mmGs0TyRN+pd7YUBbkpepnU81Onh0q+pj2kZkimE2wmdtpeH0EnoqVVBYeSrGykFbjeAG9wCAJLDoFo8PdCZGy5JvQIdpTpCa9G4yOTf5sl3hhL4GnSLgHvmJKPy6QVvflwhWj2d0F0jdFeAO8NYFKDnsWHaS+RaENfueqHHBjmA4nPPBUCWto4WTyt0knLXcIxUG8dLV4DuUWo12Ujx78ibrSOJV38NXQLEBaBaJulVTwd0V7s5cpR0JJl4vi1AlwB6AaiWJh3WsqSQMz2ujmcv44HXgD70Bv0CZ02RRVp1ocQAAAAASUVORK5CYII=);
}
.icon-expand {
	/* expand.png */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA4UlEQVQ4y6XSzQmDQBAF4EEU9CB6EPHnoCh4EDVagSWlhJSQEiwhJWwJKSGlTGZCJohskjVZ+GB9zlsUFuDfNY5jME2TIriT4i70fa+GYcBfcBfatkVDF3Lsum5mkkPTNLjDWX5dMqjrGg0tXKyq6kz7g+RQFAV+U5blo0z75Zkd5R3keY4GrmRZPd9kD0mSIEvT9JRl2bzFuczoQBRFyN7dkziOA5nRgTAMkX26bDKjA77vI/t0gMzogOd5yFzXPW2LlAWcy4wOOI6jCP5IgW3bgWVZiuBOirvrLy7IbOi17uc770DLCv13AAAAAElFTkSuQmCC);
}
/* gxp_scaleoverlay */
.legend-overlay {
    z-index:1000;
    position:absolute;
    right:10px;
    bottom:10px;
    padding:4px;
    border:1px solid #CCC;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    background:#ffffff;
    filter: alpha(opacity=80);
}
.legend-item {
    border:none;
    margin:5px;
}
.gx-popup-anc {
    background: url("http://geo.zaanstad.nl/zaanatlas/externals/GeoExt/resources/images/gray/anchor.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 5px;
    pointer-events: none;
    position: absolute;
    width: 31px;
    z-index: 2;
}
.olControlZoomPanel {
	display: none;
}
.olControlPanPanel {
	display: none;
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width:22px;
    line-height: 19px;
    background: #00A5C7; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 165, 199, 1);
    filter: alpha(opacity=80);
}
div.olControlZoom a:hover {
    background: #00A5C7; /* fallback for IE */
    background: rgba(0, 165, 199, 1);
    filter: alpha(opacity=100);
}