.cswresults
{
	border: 1px solid #CCC;
	border-radius: 4px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	position: relative;
	overflow:hidden;
}

.cswresults hr
{
	border: 1px;
	height: 1px;
	margin: 0 0 0 0;
	color: #CCC;
	background-color: #CCC;
}
.cswresults p
{
	color: #444444;
	font-size: 11px;
	padding-left: 4px;
	padding-bottom: 12px;
	padding-top: 4px;
	padding-right: 4px;
	margin-left: 2px;
	margin-right: 2px;
}

.cswresults strong
{
	font-weight: bold;
}

.btn_info
{
	position: absolute; 
	top: 4px;
	right: 4px;
}

.btn_add
{
	/*+placement:float-right;*/
	position: absolute; 
	bottom: 4px;
	right: 4px;
}

.align-right { float:right; margin: 4px 0 0 0; }
.align-left { float:left; margin: 0 4px 0 0; }

.thumbnail
{
	padding-left: 4px; 
	padding-top: 4px; 
	padding-bottom: 4px; 
	border: 0;   
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.cswresults h3
{
	font-weight: bold;
	font-size: 10pt;
	height: 22px;
	color: #08298A;
	background: #CCC;
	padding-left: 4px;
	padding-top: 8px
}
 
 .captioneddiv { 
 	margin: 2em 0em 0em 0em;
    padding: 1em;
    height:100px;
    border: solid #2e4a6b 1px;
  }

html>body .captioneddiv { 
	margin: 2em 0em 0em 0em;
    padding: 1em;
    height:auto;
    border: solid #2e4a6b 1px;
  }

.captioneddiv h3 { 
	position: relative;
    font-size: 12px;
    color: white;
    margin: 0.5em;
    top: -2.1em;
    left: -1.0em;
    padding: 0em 0.5em;
    display: inline; 
    background: #2e4a6b;
  }

/* gxp_scaleoverlay */
div.admin-overlay {
    z-index: 1000;
    position: absolute;
    right: 10px;
    top: 10px;
}
div.admin-overlay div.admin-overlay-element {
    display:inline;
    float: left;
    margin: 2px;
}

.x-btn .icon-delete {
    background-image: url(img/geosilk/map_delete.png);
}

.x-btn .icon-addlayers-locked {
	background-image: url(img/silk/lock.png);
}

.x-btn-icon .x-btn-logo .x-btn-text{
    height: 16px;
    width: 196px;
}
.icon-logo {
    background-image: url(img/logo_zaanatlas.png);
}
 
.x-btn-icon .x-btn-logoklein .x-btn-text{
    height: 16px;
    width: 96px;
}
.icon-logo-klein {
    background-image: url(img/logo_zaanatlas_klein.png);
}

#top {
	background-image: url(img/fotoheader_homepage.jpg);
	height: 50px;
}
 
#headnav {
background: none repeat scroll 0 0 #00A5C7;
	position: absolute;
	margin: 0;
	right: 0px;
	top: 0px;
	padding: 4px;
	font-size: 11px;
}

#headnav a,#footer a {
	margin: 0px 4px 0px 12px;
	color: #FFFFFF;
	text-decoration: underline;
}

#headnav a:hover,#footer a:hover {
	color: #FFFFFF;
}