<!DOCTYPE html>
<html>
    <head>
        <title>ZaanAtlas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="DESCRIPTION" content="ZaanAtlas, de Zaanse kaartenbak. Via deze catalogus is ruimtelijke informatie (geo-informatie) te vinden van gemeente Zaanstad.">
        <meta name="KEYWORDS" content="zaanatlas, zaanstad, gemeente, kaarten, stadplattegrond, geo-informatie, catalogus, zaandam, gis, ">
        <link rel="shortcut icon" href="../theme/app/img/favicon.ico">
        <!--[if IE]><script type="text/javascript">window.location.hash = window.location.hash;</script><![endif]-->

        <!-- Ext resources -->
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/reset-min.css">
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/xtheme-zaanstad.css">
        <script type="text/javascript" src="../externals/ext/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="../externals/ext/ext-all.js"></script>

        <!-- OpenLayers resources -->
        <link rel="stylesheet" type="text/css" href="../externals/openlayers/theme/default/style.css">

        <!-- GeoExt resources 
        <link rel="stylesheet" type="text/css" href="../externals/geoext/resources/css/popup.css">
        <link rel="stylesheet" type="text/css" href="../externals/geoext/resources/css/layerlegend.css">
        <link rel="stylesheet" type="text/css" href="../externals/geoext/resources/css/gxtheme-gray.css">
        -->

        <!-- gxp resources -->
        <link rel="stylesheet" type="text/css" href="../externals/gxp/theme/all.css">
        
        {{{content}}}
        
    </head>
    <body></body>
</html>
